.wrapper{
    padding-top: 113.5px;
    background-color: #f3f3f3;
}
.main {
    position: relative;
    margin: 0 120px;
    & .slider-banner{
        position: absolute;
       width: 100%;
        top: -90px;
    }
}
.banner{
    max-width: 100%
}
.toppromo {
    // position: absolute;
    transform: translateY(100px);
    width: 100%;
    top: 120px;
    display: flex;
    justify-content: space-between;
}
.dealshock {
    background-color: #ff685f;
    height: 665.5px;
    margin-top: 16px;
    border-radius: 16px;
    padding: 0 10px 10px 10px;
    & .list-tem {
        // display: flex;
        margin: 10px 0;
    }
    & .moreitem {
        display: flex;
        justify-content: center;
        margin-top: 5px;
       
        & span{
            display: flex;
            align-items: center;
            justify-content: center;
            font-size: 14px;
            width: 370px;
            height: 42px;
            background-color: #fff;
            border-radius: 4px;
        }
    }
}
.buyitem{ 
  
    display: flex;
    justify-content: center;
  
    margin-top: 16px;
    border-radius: 16px;
   
    & .list-item-buy{
        display: grid;
        gap: 10px;
        grid-template-columns: 226px 226px 226px 226px 226px;
        grid-template-rows: 500px


       

    }


}
.readMorebtn{
    display: flex;
    height: 46px;
    width: 340px;
    background-color: #fff;
    font-size: 15.5;
    align-items: center;
    justify-content: center;
    
}

.tech {
    display: flex;
    align-items: center;
   
    & .tech-new {
        margin-top: 20px;
        height: 350px;
        width: 895px;
        background-color: #fff;
        margin-right: 20px;
        border-radius: 16px;
        
    }
  
    & .ads {
        margin-top: 20px;
    }
}
.technology-tag {
    display: flex;
    flex-direction: column;
    margin-right: 10px;
    font-size: 16px;
    margin-top: 8px;
    
}

